true-voice.7z
true-voice.zip
true-voice/hooks.js
true-voice/icons/github.svg
true-voice/icons/icon128.png
true-voice/icons/icon16.png
true-voice/icons/icon48.png
true-voice/manifest.json
true-voice/popup.html
true-voice/popup.js
true-voice/styles.css
/node_modules
*.yaml
